.form-control{
  max-width: 500px;
}
.first-input{
  justify-content: center;
  align-items: center;
}
.lists{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item{
  /*background-color: rgb(238, 213, 225) */
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  padding:10px 10px;
  margin-top: 10px;
  min-width:550px;
}

.span{
  background-color: blueviolet;
}
.fa{
  cursor: pointer;
}
